.wrap{
    width: 90%;
    margin: 0 auto;
}

h1{
    margin-bottom: 0;
}

h3{
    margin-bottom: 0;
}

header p{
    margin: 0;
}

.content p{
    margin-bottom: 0.5rem;
    margin-top: 0;
}

ul{
    list-style: none;
}

header nav{
    background-color: black;
}

header a{
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    padding: 0.3rem 0rem;
}

nav ul li:hover{
    background-color: lightseagreen;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0rem 0.7rem;
}

.line{
    background-color: lightgrey;
    height: 0.1rem;
}

.blog{
    font-weight: bold;
}

.latest_article{
    display: flex;
    flex-direction: row;
}

.latest_article_left{
    width: 80%;
    line-height: 1.5rem;

}

.latest_article_right{
    line-height: 1rem;
    width: 20%;
    margin-top: 1rem;
}

.latest_article_right p span:first-of-type{
    font-weight: bold;
    text-decoration: underline;
}

.content{
    margin-left: 1.5rem;
}

section.content{
    line-height: 1.2rem;
}