nav ul li a{
    display: inline-block;
    padding: 5px 10px;
    background-color: purple;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
}

section ul li{
    list-style: lower-roman;
}
section ol li{
    list-style-type: decimal;
}

#area{
    background-color: magenta;
}

#area2{
    background-color: chartreuse;
}

div.line{
    width: auto;
    height: 10px;
    background-color: skyblue;
}

.fig_img{
    width: 400px;
    height: 400px;
}