nav ul li a{
    display: inline-block;
    padding: 5px 10px;
    background-color: purple;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
}

section ul li{
    list-style: lower-roman;
}
section ol li{
    list-style-type: decimal;
}