div{
    width: 100px;
    height: 100px;
    background-color: yellow;
    float: left;
    margin-right: 5px;
    border: 1px solid blue;
}

div[title~='hello']{
    color:red;
    font-size: 12px;
}

div.clear{
    clear:both;
}

a{
    display: inline-block;
    width: 100px;
}

a[href$='.com']{
    color:red;
}

a[href^='http:']{
    border: 3px solid green;
}

a[href*='shinhan']{
    font-size: 20px;
    color:white;
    background-color: darkblue;
}