p{
    background-color: silver;
    width: 300px;
    
}
p+div{
    border: 1px solid green;
    width: 300px;
    height: 400px;
}

a{
    border:1px solid black;
    width: 400px;
    height: 200px;
    display: inline-block;

}

a:link{
    background-color: darkblue;
    color:white;
}

a:active{
    background-color: green;
    color: red;
}

a:hover{
    background-color: blueviolet;
    color: yellow;
}

a:visited{
    background-color: magenta;
    color: aliceblue;
}