
/* *{
    background-color: aquamarine;
} */

.d1{
    background-color: antiquewhite;
    width: 400px;
    height: 50px;
    border:5px double magenta;
}

.p1{
    background-color: salmon;
}

#d1{
    color: red;
}